.root{
    -fx-background-color: #E7E5E1;
    -fx-font: 16px "League Spartan";
}

.table-view {
    -fx-background-color: #C2BCA9;
}


.table-row-cell {
    -fx-background-color: #D1C1C2;
}

.table-column {

}
